
<p-dialog header="Fill your details" [(visible)]="display" styleClass="my-style-class" *ngIf="user"
[modal]="true" [responsive]="true"
          [breakpoints]="

{
    '900px': '50vw',
    '600px': '100vw'
}"
          (onHide)="closeDialog()"
          [style]="{width: '50vw'}">

  <form #form="ngForm" (ngSubmit)="saveUser()">

    <div class="mb-3">
      <div class="col-md-12">
        <label for="firstName" class="form-label">First Name :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="text" class="form-control" id="firstName" name="first" [(ngModel)]="user.firstName"
               placeholder="Enter your FirstName" [required]="true">
      </div>
    </div>
    <div class="mb-3">
      <div class="col-md-12">
        <label for="lastName" class="form-label">Last Name :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName"
               placeholder="Enter your LastName" [required]="true">
      </div>
    </div>

    <div class="mb-3">
      <div class="col-md-12">
        <label for="username" class="form-label">Username :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="text" class="form-control" id="username" name="username" [(ngModel)]="user.username"
               placeholder="Enter your Username" [required]="true">
      </div>
    </div>

    <div class="mb-3" *ngIf="!user.id">
      <div class="col-md-12">
        <label for="password" class="form-label">Password :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="password" class="form-control" id="password" name="password" [(ngModel)]="user.password"
               placeholder="Enter your password" [required]="true">
      </div>
    </div>

    <div class="mb-3">
      <div class="col-md-12">
        <label for="phoneNo" class="form-label">Phone No:</label>
      </div>
      <div class="col-md-12">
        <p-inputNumber class="inputNumber" [required]="true" id="phoneNo" name="phoneNo" [(ngModel)]="user.phoneNo"
                       placeholder="Enter your PhoneNo">
        </p-inputNumber>
      </div>
    </div>
    <div class="mb-3">
      <div class="col-md-12">
        <label for="email" class="form-label">Email :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="text" class="form-control" id="email" name="email" [(ngModel)]="user.email"
               placeholder="Enter your Email" [required]="true">
      </div>
    </div>
    <div class="mb-3">
      <div class="col-md-12">
        <label for="salary" class="form-label">Salary :</label>
      </div>
      <div class="col-md-12">
        <p-inputNumber class="inputNumber" mode="decimal" id="salary" name="salary" [(ngModel)]="user.salary"
                       placeholder="Enter your Salary" [required]="true">
        </p-inputNumber>
      </div>
    </div>

    <div class="mb-3" *ngIf="departmentDropdownList">
      <div class="col-md-12">
        <label for="department" class="form-label">Department :</label>
      </div>
      <div class="col-md-12">
        <p-dropdown [options]="departmentDropdownList" id="department" optionValue="value" [(ngModel)]="oneDepartment"
                    name="department" optionLabel="label" [required]="true"></p-dropdown>
      </div>
    </div>

    <div class="mb-3" *ngIf="roleDropDownList">
      <div class="col-md-12">
        <label for="roles" class="form-label">Roles :</label>
      </div>
      <div class="col-md-12">
        <p-multiSelect [options]="roleDropDownList" [(ngModel)]="selectedRoles" optionValue="value" optionLabel="label"
                       [required]="true" name="roles"></p-multiSelect>
      </div>
    </div>


    <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Save</button>

  </form>
</p-dialog>
<p-toast position="bottom-right"></p-toast>

