<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="items && showNavBar">
  <div class="container-fluid"><a class="navbar-brand" href="#">Google</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown"
            aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse username-dropdown" id="navbarNavDarkDropdown">

      <ul class="navbar-nav">
        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink"
                                         role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ username }}
        </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">

            <li><a class="dropdown-item"  (click)="updatePassword()">Change Password</a></li>
            <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p-toast position="top-right"></p-toast>
<p-dialog header="Update password" :[(visible)]="passwordDialog"
            *ngIf="user" (onHide)="closeDialog()"
          [breakpoints]="
  {
  '900px': '50vw',
  '600px': '100vw'
  }"
          [style]="{width: '30vw'}">

  <form #form="ngForm" (ngSubmit)="putPassword()">
    <div class="mb-3">
      <div class="col-md-12">
        <label for="password" class="form-label">New Password :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="password" class="form-control" id="password" name="pass" [(ngModel)]="user.password"
               placeholder="Enter your Password" [required]="true">
      </div>
    </div>

    <div class="mb-3">
      <div class="col-md-12">
        <label for="password" class="form-label"> Confirm Password :</label>
      </div>
      <div class="col-md-12">
        <input pInputText type="password" class="form-control" id="confirm_password" name="pass" [(ngModel)]="confirmPassword"
               placeholder="Confirm Password" [required]="true">
      </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!user.password || (user.password != confirmPassword) || form.invalid">Confirm</button>
  </form>
</p-dialog>
