<h1>Records</h1>
<p-toast position="top-right"></p-toast>
<p-toolbar>
  <div class="p-toolbar-group-right">
    <p-button (click)="showDialog()" label="Add" icon="pi pi-plus"></p-button>
  </div>
</p-toolbar>
<p-table [value]="users" [tableStyle]="{'min-width': '50rem'}" selectionMode="single" dataKey="id"
         (onRowSelect)="onRowSelect($event.data)" [rows]="6" [paginator]="true">
  <ng-template pTemplate="header">
    <tr>

      <th>Id</th>
      <th>Username</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>PhoneNo</th>
      <th>Email</th>
      <th>Salary</th>
      <th>Department</th>
      <th></th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>

    <tr [pSelectableRow]="user">
      <td>{{user.id}}</td>
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phoneNo}}</td>
      <td>{{user.email}}</td>
      <td>{{user.salary}}</td>
      <td>{{user.department}}</td>
      <td>
        <!--            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(product)"></button>-->
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteUser(user)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<app-user-dialog [user]="user"
                 [display]="display"
                 (refreshUser)="getUsers()">
</app-user-dialog>
