<p-toast position="top-right"></p-toast>
<div class="row col-md-12 login-template">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <p-card class="header">
      <div class="center">
        <form #f="ngForm"
              (ngSubmit)="f.form.valid &&  onSubmit()"
              name="form">

          <div class="mb-3">
            <div class="col-md-12">
              <label for="username" class="form-label">Username:</label>
            </div>

            <span class="p-input-icon-left">
              <i class="pi pi-user"></i>
              <input pInputText type="text"
                   class="form-control"
                   id="username"
                   name="user"
                   [(ngModel)]="form.username"
                   placeholder="Enter your Username" required="true" #username="ngModel"
                   [ngClass]="{ 'is-invalid': f.submitted && username.errors }">
</span>


            <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
              Username is required!
            </div>
          </div>

          <div class="mb-3">
            <div class="col-md-12">
              <label for="password" class="form-label">Password:</label>
            </div>

            <span class="p-input-icon-left">
    <i class="pi pi-key"></i>
    <input pInputText type="password"
           class="form-control"
           id="password"
           name="user"
           value="654321"
           [(ngModel)]="form.password"
           placeholder="Enter your Password" required="true" #password="ngModel"
           [ngClass]="{ 'is-invalid': f.submitted && password.errors }">
          </span>


          </div>
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">
              Password is required
            </div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>


          <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!form.password || !form.username">Login</button>
          </div>
          <div class="form-group">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
              Login failed: {{ errorMessage }}
            </div>
          </div>

        </form>
      </div>
      <div class="col-md-4"></div>


    </p-card>
  </div>
</div>

