
<div *ngIf="user">
  <p-card>
    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">First name:</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.firstName }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Last name:</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.lastName }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Username :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.username }}</span>
      </div>
    </div>


    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Phone No :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.phoneNo }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Email : :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.email }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Salary :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.salary }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Department :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.department }}</span>
      </div>
    </div>

    <div class="row col-md-12">
      <div class="col-md-2">
        <span class="label">Roles :</span>
      </div>
      <div class="col-md-2">
        <span class="label-value">{{ user.userRoles }}</span>
      </div>
    </div>
  </p-card>

  <app-user-dialog [user]="user"
                   [display]="display"
                   (refreshUser)="getUser()">
  </app-user-dialog>

  <br>
  <button type="button" (click)="showDialog()" class="btn btn-primary btn-lg">Update</button>

</div>
